.pet {
  display: flex;
  align-items: center;
  margin: 16px 0 24px 0;
  &__avatar {
    margin: 0 20px 0 0;
    img {
      width: 80px;
      height: 80px;
      display: block;
    }
  }
  &__body {
    flex: 1;
  }
  &__name {
    color: #797979;
    line-height: 1;
    font-weight: bold;
    font-size: 16px;
    small {
      font-size: 13px;
      font-weight: normal;
    }
  }
  &__exp-bar {
    margin-bottom: 10px;
  }
  &__exp {
    font-size: 12px;
    color: rgba(black, 0.38);
    line-height: 1;
  }
}
